body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #262626;
  padding: 40px 80px;
  position: relative;
  /* overflow: hidden; */
  transition: all 1s;
}

a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #262626;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: 1s;
}

a:hover::before {
  transform: rotateX(0deg);
}

a:hover {
  color: #ffffff;
}

a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #262626;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateY(90deg);
  transition: 1s;
}

a:hover::after {
  transform: rotateY(0deg);
}
