body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

a {
  text-decoration: none;
  color: white;
  background-color: #f1c40f;
  font-size: 20px;
  padding: 20px 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

a:before {
  content: "Hover Me";
  position: absolute;
  left: 0;
  top: 0;
  background-color: green;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.5s;
  transform: rotateX(270deg);
  transform-origin: top;
}

a:hover::before {
  transform: rotateX(0deg);
}

a:after {
  content: "Hover Me";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(189, 82, 10);
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.5s;
  transition-delay: 0.3s;
  transform: rotateX(270deg);
  transform-origin: top;
}

a:hover::after {
  transform: rotateX(0deg);
}
