body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}

a:before {
    content: "Hello!";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #351435;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover::before {
    transform: translateY(0);
}

a:hover {
  color: #ffffff;
}